.functionStripDiv {
    margin: 1rem;
    height: 3rem;
}

.ButtonFunctionDefault{
    width: 2rem;
    height: 1.5rem;
    font-size: 0.75rem;
    padding: 0rem;
    margin: 0rem;
    border: 0px;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: '#bebebe'
}

.ButtonFunctionDefault:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.svgIcon {
    transform: scale(0.5);
    fill: white;
}